body {
    background-color: #F3F5FC;
    font-family: 'Zilla Slab', serif;
}
.caixa--texto {
    font-size: 11px;
    color: (240, 43, 149, 0.5);
    background-color: #FFFFFF;
    border: 2px solid #F8CDFF;
    border-radius: 32px;
    margin: 0 2% 0 10%;
    display: flex;
    width: 90%;
    height: 759px ;
    background: rgb(255, 255, 255);
}
.digite--texto {
    padding-left: 2%;
    font-size: 20px;
    margin-top: 2%;
    
}
.logo {
   opacity: 30%; 
   display: flex;
   position: absolute;
   
}
.caixa--descriptografar {
    background-color: rgba(202, 202, 202, 0.4);
    border: 2px solid #F8CDFF;
    box-shadow: 0px 24px 32px -8px;
    border-radius: 32px;
    display: inline-block;
    padding-bottom: 30%;
    width: 300px;

}
.img--detetive {
    border-radius: 30px;
}
.input {
    display: inline-flex;
    width: 98%;
    margin-top: 3%;
}
.img--detetive{
    margin-top: 100px
}
.txt--descriptografar{
    margin-left: 2%;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 3%;
    
}
.txt--digite{
    font-family: 'Zilla Slab';
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    text-align: center;

}

.aviso {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 300px;
    height: 18px;
    left: 10%;
    top: 820px;
}

.botoes{
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    display: flex;
    padding: 1%;
    gap: 10%;
    position: absolute;
    margin-top: 58%;
    width: 700px;


    
}
.botao--criptografar {
    border: 2px solid rgba(240, 43, 149, 0.4);
    border-radius:24px;
    background-color:#F02B95;
    padding: 24px;
    width: 40%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    font-weight: bold;
}
.botao--descriptografar{
    border: 2px solid #F02B95;
    border-radius:24px;
    background-color:rgba(240, 43, 149, 0.4);
    padding:24px;
    width: 40%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.logo--rodape{  
    margin-left: 38%;
    opacity: 60%;

}
footer {
    background-color:rgba(166, 29, 102, 0.598);
    background-image: linear-gradient(#F3F5FC,rgba(166, 29, 102, 0.598));
    margin-top: 80px;
}
.copyright {
    font-size: 20px;
    text-align: center;
    position: relative;
    padding: 5px;
    font-weight: bold;
    opacity: 60%;
}